<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: "App",
};
</script>

<style lang="sass">
body
  background: #eaeaea

.color-dark-1
  color: #535353

.color-dark-2
  color: #7C7C7C

.color-dark-3
  color: #B1B1B1

.color-dark
  color: #1B1B1B

.text-center
  text-align: center
</style>
