<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-primary">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="arrow_back"
          aria-label="Menu"
          @click="$router.go(-1)"
        />

        <q-toolbar-title> Crear nuevo curso </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <div class="us-row p-4 justify-center">
        <div class="us-sm:col-12 us-md:col-6">
          <!-- formulario de registro  -->
          <q-input
            class="w-100%"
            outlined
            v-model="itemCourse.name"
            label="Nombre*"
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Este campo es requerido',
            ]"
          />

          <q-input
            class="w-100%"
            outlined
            v-model="itemCourse.description"
            :rules="[
              (val) => (val && val.length > 0) || 'Este campo es requerido',
            ]"
            label="Descripción*"
            type="textarea"
          />

          <div class="us-row justify-end">
            <q-btn
              label="Crear"
              color="primary"
              @click="DBcreateCourse()"
            ></q-btn>
          </div>
          <!-- formulario de registro  -->
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import apiAxios from "../../boot/axios.js";

export default {
  name: "MainLayout",
  components: {},
  data() {
    return {
      itemCourse: {
        name: "",
        description: "",
      },
    };
  },
  methods: {
    DBcreateCourse() {
      let me = this;
      if (
        this.itemCourse.name.length <= 0 ||
        this.itemCourse.description.length <= 0
      ) {
        this.$q.notify({
          type: "negative",
          message: "Debe llenar todos los campos",
        });
        return;
      }

      //creamos un formulario con los campor requeridos
      let form = new FormData();
      form.append("name", this.itemCourse.name);
      form.append("description", this.itemCourse.description);

      apiAxios
        .createStudentCourse({
          form: form,
          studentId: this.$route.params.studentId,
        })
        .then((response) => {
          this.$q.notify({
            type: "positive",
            message: "Curso creado exitosamente",
          });
          me.$router.go(-1);
        })
        .catch(function (err) {
          console.log(err);
        });
    },
  },
};
</script>
