<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-primary">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="arrow_back"
          aria-label="Menu"
          @click="$router.go(-1)"
        />

        <q-toolbar-title> Cursos del estudiante </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <div class="us-row us-justify-center">
        <div class="us-sm:col-12 us-md:col-6 bg-white">
          <!-- lista de cursos  -->
          <div
            class="us-row"
            v-for="(item, index) in arrayCourses"
            :key="index"
          >
            <div class="us-col w-100% item-student p-2">
              <div class="us-row us-align-center">
                <div class="us-flex-1 us-col w-100%">
                  <label class="w-100% text-weight-bolder color-dark-1">{{
                    item.name
                  }}</label>
                  <label class="text-caption color-dark-2">{{
                    literalDate(item.created_at)
                  }}</label>
                  <label class="text-caption color-dark-2">{{
                    item.description
                  }}</label>
                </div>
                <div class="h-8">
                  <q-btn-dropdown
                    split
                    class="glossy"
                    color="primary"
                    label="Opciones"
                  >
                    <q-list>
                      <q-item
                        clickable
                        v-close-popup
                        @click="
                          confirmDialogDelete = true;
                          itemCourse = item;
                        "
                      >
                        <div class="us-row us-align-center">
                          <q-icon name="delete_outline" />
                          <label class="pl-3 us-flex-1">Eliminar</label>
                        </div>
                      </q-item>
                    </q-list>
                  </q-btn-dropdown>
                </div>
              </div>
            </div>
          </div>
          <!--  end lista de cursos  -->

          <!-- bandera de no se encontro registros -->
          <div
            class="us-row justify-center p-5"
            v-if="arrayCourses.length <= 0"
          >
            <div class="us-col us-align-center">
              <div class="h-20"></div>
              <label class="text-h3 color-dark-2 text-center"
                >No tiene cursos registrados</label
              >
              <label class="text-subtitle1 color-dark-1 text-center"
                >Registre un nuevo</label
              >
            </div>
          </div>
          <!-- end bandera de no se encontro registros -->
        </div>

        <!-- boton flotante -->
        <q-page-sticky
          position="bottom-right"
          :offset="[18, 18]"
          @click="
            $router.push({
              name: 'courses-create',
              params: { studentId: $route.params.studentId },
            })
          "
        >
          <q-btn fab icon="add" color="primary" />
        </q-page-sticky>

        <!-- dialogo de confirmacion -->
        <q-dialog v-model="confirmDialogDelete" persistent>
          <q-card>
            <q-card-section class="row items-center">
              <q-avatar
                icon="delete_outline"
                color="primary"
                text-color="white"
              />
              <span class="q-ml-sm"
                >¿Realmente desea eliminar el curso:
                <b class="color-dark">{{ itemCourse.name }}</b
                >?</span
              >
            </q-card-section>

            <q-card-actions align="right">
              <q-btn flat label="Cancelar" color="primary" v-close-popup />
              <q-btn
                flat
                label="Continuar"
                color="primary"
                v-close-popup
                @click="DBdeleteCourse()"
              />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import apiAxios from "./../../boot/axios.js";

export default {
  data() {
    return {
      arrayCourses: [],
      itemCourse: {},
      confirmDialogDelete: false,
    };
  },
  mounted() {
    this.DBlistCourse("");
  },
  methods: {
    DBdeleteCourse() {
      apiAxios
        .deleteStudentCourse({
          courseId: this.itemCourse.id,
        })
        .then((response) => {
          this.$q.notify({
            type: "positive",
            message: "Curso eliminado exitosamente",
          });
          this.DBlistCourse("");
        })
        .catch(function (err) {
          console.log(err);
        });
    },

    DBlistCourse(search) {
      let me = this;
      console.log(this.$route.params.studentId);
      apiAxios
        .getStudentCourses({
          studentId: me.$route.params.studentId,
          search: search,
        })
        .then((response) => {
          me.arrayCourses = response.data.data;
        })
        .catch(function (err) {
          console.log(err);
        });
    },
    literalDate: function (fecha) {
      if (fecha != null || fecha != "") {
        //convertimos la fecha string en date
        var parts = fecha.split("-");
        var f = new Date(parts[0] + "-" + parseInt(parts[1]) + "-" + parts[2]);
        //consultamos la fecha actual del sistema
        var fechaActualSistema = new Date();
        // console.log(parts[0]+'-'+ parts[1]+'-'+ parts[2].split(' ')[0]+" = "+fechaActualSistema.getFullYear()+"-"+(fechaActualSistema.getMonth()+1)+"-"+fechaActualSistema.getDate());
        //comparamos que la fecha no se la misma de hoy
        if (
          parts[0] + "-" + parts[1] + "-" + parts[2].split(" ")[0] ==
          fechaActualSistema.getFullYear() +
            "-" +
            (fechaActualSistema.getMonth() + 1) +
            "-" +
            fechaActualSistema.getDate()
        ) {
          return "Hoy a las " + fecha.split(" ")[1];
        }

        var meses = new Array(
          "Ene.",
          "Feb.",
          "Mar.",
          "Abr.",
          "May.",
          "Jun.",
          "Jul.",
          "Ago.",
          "Sept.",
          "Oct.",
          "Nov.",
          "Dic."
        );
        var diasSemana = new Array(
          "Dom",
          "Lun",
          "Mar",
          "Mié",
          "Jue",
          "Vie",
          "Sáb"
        );
        return (
          diasSemana[f.getDay()] +
          ", " +
          f.getDate() +
          " de " +
          meses[f.getMonth()] +
          " de " +
          f.getFullYear()
        );
      } else {
        return "Sin fecha";
      }
    },
  },
};
</script>


