.us-row {
  /* box-sizing: border-box; */
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  width: 100%;
}
.us-col {
  /* box-sizing: border-box; */
  display: flex;
  /* flex-direction: column; */
  flex: 0 1 auto;
  flex-flow: column wrap;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .us-sm\:row {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
  }
  .us-sm\:col {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column wrap;
  }
  /* .us-sm\:col, */
  [class^="lg\:col-"] {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
  .us-sm\:col-1 {
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .us-sm\:col-2 {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .us-sm\:col-3 {
    max-width: 25%;
    flex-basis: 25%;
  }
  .us-sm\:col-4 {
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .us-sm\:col-5 {
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .us-sm\:col-6 {
    max-width: 50%;
    flex-basis: 50%;
  }
  .us-sm\:col-7 {
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .us-sm\:col-8 {
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .us-sm\:col-9 {
    max-width: 75%;
    flex-basis: 75%;
  }
  .us-sm\:col-10 {
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .us-sm\:col-11 {
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .us-sm\:col-12 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .us-md\:row {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
  }
  .us-md\:col {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column wrap;
  }
  /* .us-md\:col, */
  [class^="lg\:col-"] {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
  .us-md\:col-1 {
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .us-md\:col-2 {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .us-md\:col-3 {
    max-width: 25%;
    flex-basis: 25%;
  }
  .us-md\:col-4 {
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .us-md\:col-5 {
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .us-md\:col-6 {
    max-width: 50%;
    flex-basis: 50%;
  }
  .us-md\:col-7 {
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .us-md\:col-8 {
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .us-md\:col-9 {
    max-width: 75%;
    flex-basis: 75%;
  }
  .us-md\:col-10 {
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .us-md\:col-11 {
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .us-md\:col-12 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .us-lg\:row {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
  }
  .us-lg\:col {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column wrap;
  }
  /* .us-lg\:col, */
  [class^="lg\:col-"] {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
  .us-lg\:col-1 {
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .us-lg\:col-2 {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .us-lg\:col-3 {
    max-width: 25%;
    flex-basis: 25%;
  }
  .us-lg\:col-4 {
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .us-lg\:col-5 {
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .us-lg\:col-6 {
    max-width: 50%;
    flex-basis: 50%;
  }
  .us-lg\:col-7 {
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .us-lg\:col-8 {
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .us-lg\:col-9 {
    max-width: 75%;
    flex-basis: 75%;
  }
  .us-lg\:col-10 {
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .us-lg\:col-11 {
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .us-lg\:col-12 {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  /* ORDER COLUM FLEX */
  .us-sm\:order-1 {
    order: 1;
  }
  .us-sm\:order-2 {
    order: 2;
  }
  .us-sm\:order-3 {
    order: 3;
  }
  .us-sm\:order-4 {
    order: 4;
  }
  .us-sm\:order-5 {
    order: 5;
  }
  .us-sm\:order-6 {
    order: 6;
  }
  .us-sm\:order-7 {
    order: 7;
  }
  .us-sm\:order-8 {
    order: 8;
  }
  .us-sm\:order-9 {
    order: 9;
  }
  .us-sm\:order-10 {
    order: 10;
  }
  .us-sm\:order-11 {
    order: 11;
  }
  .us-sm\:order-12 {
    order: 12;
  }
}
@media screen and (min-width: 768px) {
  .us-md\:order-1 {
    order: 1;
  }
  .us-md\:order-2 {
    order: 2;
  }
  .us-md\:order-3 {
    order: 3;
  }
  .us-md\:order-4 {
    order: 4;
  }
  .us-md\:order-5 {
    order: 5;
  }
  .us-md\:order-6 {
    order: 6;
  }
  .us-md\:order-7 {
    order: 7;
  }
  .us-md\:order-8 {
    order: 8;
  }
  .us-md\:order-9 {
    order: 9;
  }
  .us-md\:order-10 {
    order: 10;
  }
  .us-md\:order-11 {
    order: 11;
  }
  .us-md\:order-12 {
    order: 12;
  }
}
@media screen and (min-width: 1280px) {
  .us-order-lg-1 {
    order: 1;
  }
  .us-order-lg-2 {
    order: 2;
  }
  .us-order-lg-3 {
    order: 3;
  }
  .us-order-lg-4 {
    order: 4;
  }
  .us-order-lg-5 {
    order: 5;
  }
  .us-order-lg-6 {
    order: 6;
  }
  .us-order-lg-7 {
    order: 7;
  }
  .us-order-lg-8 {
    order: 8;
  }
  .us-order-lg-9 {
    order: 9;
  }
  .us-order-lg-10 {
    order: 10;
  }
  .us-order-lg-11 {
    order: 11;
  }
  .us-order-lg-12 {
    order: 12;
  }
}

/* ORDER COLUM FLEX */
.us-order-1 {
  order: 1;
}
.us-order-2 {
  order: 2;
}
.us-order-3 {
  order: 3;
}
.us-order-4 {
  order: 4;
}
.us-order-5 {
  order: 5;
}
.us-order-6 {
  order: 6;
}
.us-order-7 {
  order: 7;
}
.us-order-8 {
  order: 8;
}
.us-order-9 {
  order: 9;
}
.us-order-10 {
  order: 10;
}
.us-order-11 {
  order: 11;
}
.us-order-12 {
  order: 12;
}

.us-flex-1 {
  flex: 1;
}
.us-flex-2 {
  flex: 2;
}
.us-flex-3 {
  flex: 3;
}
.us-flex-4 {
  flex: 4;
}
.us-flex-5 {
  flex: 5;
}
.us-flex-6 {
  flex: 6;
}

.us-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.us-align-start {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.us-align-end {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
.us-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.us-justify-start {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
}

.us-justify-end {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
}

.us-position-relative {
  position: relative;
}
.us-position-absolute {
  position: absolute;
}
.us-position-fixed {
  position: fixed;
}

/* margin y opaddigd :::::::::::::::::::::::::::::*/
/* margin */
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mr-4 {
  margin-right: 1rem;
}
.mr-5 {
  margin-right: 1.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.ml-4 {
  margin-left: 1rem;
}
.ml-5 {
  margin-left: 1.25rem;
}
/* paddigns */
.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 0.75rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-3 {
  padding-left: 0.75rem;
}
.pl-4 {
  padding-left: 1rem;
}
.pl-5 {
  padding-left: 1.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pr-3 {
  padding-right: 0.75rem;
}
.pr-4 {
  padding-right: 1rem;
}
.pr-5 {
  padding-right: 1.25rem;
}

.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}

/* tamanos de alto y largo */
.w-0 {
  width: 0px;
}
.w-1 {
  width: 0.25rem;
}
.w-2 {
  width: 0.5rem;
}
.w-3 {
  width: 0.75rem;
}
.w-4 {
  width: 1rem;
}
.w-5 {
  width: 1.25rem;
}
.w-6 {
  width: 1.5rem;
}
.w-7 {
  width: 1.75rem;
}
.w-8 {
  width: 2rem;
}
.w-9 {
  width: 2.25rem;
}
.w-10 {
  width: 2.5rem;
}
.w-11 {
  width: 2.75rem;
}
.w-12 {
  width: 3rem;
}
.w-13 {
  width: 3.25rem;
}
.w-14 {
  width: 3.5rem;
}
.w-15 {
  width: 3.75rem;
}
.w-16 {
  width: 4rem;
}
.w-17 {
  width: 4.25rem;
}
.w-18 {
  width: 4.5rem;
}
.w-19 {
  width: 4.75rem;
}
.w-20 {
  width: 5rem;
}
.w-24 {
  width: 6rem;
}
.w-28 {
  width: 7rem;
}
.w-32 {
  width: 8rem;
}
.w-36 {
  width: 9rem;
}
.w-40 {
  width: 10rem;
}
.w-44 {
  width: 11rem;
}
.w-48 {
  width: 12rem;
}
.w-52 {
  width: 13rem;
}
.w-56 {
  width: 14rem;
}
.w-60 {
  width: 15rem;
}
.w-64 {
  width: 16rem;
}
.w-72 {
  width: 18rem;
}
.w-80 {
  width: 20rem;
}
.w-96 {
  width: 24rem;
}
.w-100 {
  width: 28rem;
}
.w-max {
  width: 100vh;
}
.w-100\% {
  width: 100%;
}
.w-90\% {
  width: 90%;
}
.w-80\% {
  width: 80%;
}
.w-70\% {
  width: 70%;
}
.w-60\% {
  width: 60%;
}
.w-50\% {
  width: 50%;
}
.w-40\% {
  width: 40%;
}
.w-30\% {
  width: 30%;
}
.w-20\% {
  width: 20%;
}
.w-10\% {
  width: 10%;
}
.w-auto {
  width: auto;
}
/* altos */
.h-0 {
  height: 0px;
}
.h-1 {
  height: 0.25rem;
}
.h-2 {
  height: 0.5rem;
}
.h-3 {
  height: 0.75rem;
}
.h-4 {
  height: 1rem;
}
.h-5 {
  height: 1.25rem;
}
.h-6 {
  height: 1.5rem;
}
.h-7 {
  height: 1.75rem;
}
.h-8 {
  height: 2rem;
}
.h-9 {
  height: 2.25rem;
}
.h-10 {
  height: 2.5rem;
}
.h-11 {
  height: 2.75rem;
}
.h-12 {
  height: 3rem;
}
.h-13 {
  height: 3.25rem;
}
.h-14 {
  height: 3.5rem;
}
.h-15 {
  height: 3.75rem;
}
.h-16 {
  height: 4rem;
}
.h-17 {
  height: 4.25rem;
}
.h-18 {
  height: 4.5rem;
}
.h-19 {
  height: 4.75rem;
}
.h-20 {
  height: 5rem;
}
.h-24 {
  height: 6rem;
}
.h-28 {
  height: 7rem;
}
.h-32 {
  height: 8rem;
}
.h-36 {
  height: 9rem;
}
.h-40 {
  height: 10rem;
}
.h-44 {
  height: 11rem;
}
.h-48 {
  height: 12rem;
}
.h-52 {
  height: 13rem;
}
.h-56 {
  height: 14rem;
}
.h-60 {
  height: 15rem;
}
.h-64 {
  height: 16rem;
}
.h-72 {
  height: 18rem;
}
.h-80 {
  height: 20rem;
}
.h-96 {
  height: 24rem;
}
.h-100 {
  height: 28rem;
}
.h-max {
  height: 100vh;
}
.h-100\% {
  height: 100%;
}
.h-90\% {
  height: 90%;
}
.h-80\% {
  height: 80%;
}
.h-70\% {
  height: 70%;
}
.h-60\% {
  height: 60%;
}
.h-50\% {
  height: 50%;
}
.h-40\% {
  height: 40%;
}
.h-30\% {
  height: 30%;
}
.h-20\% {
  height: 20%;
}
.h-10\% {
  height: 10%;
}
.h-auto {
  height: auto;
}
