<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-primary">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="arrow_back"
          aria-label="Menu"
          @click="$router.go(-1)"
        />

        <q-toolbar-title> Crear nuevo estudiante </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <div class="us-row p-4 justify-center">
        <div class="us-sm:col-12 us-md:col-6 us-col">
          <div class="us-row">
            <div class="us-sm:col-12 us-md:col-6 pr-2 pl-2">
              <q-input
                class="w-100%"
                outlined
                v-model="itemStudent.firstName"
                label="Nombre(s)*"
                lazy-rules
                :rules="[
                  (val) => (val && val.length > 0) || 'Este campo es requerido',
                ]"
              />
            </div>

            <div class="us-sm:col-12 us-md:col-6 pr-2 pl-2">
              <q-input
                class="w-100%"
                outlined
                v-model="itemStudent.lastName"
                label="Apellido(s)*"
                lazy-rules
                :rules="[
                  (val) => (val && val.length > 0) || 'Este campo es requerido',
                ]"
              />
            </div>
          </div>

          <div class="us-row">
            <div class="us-sm:col-12 us-md:col-6 pr-2 pl-2">
              <q-input
                class="w-100%"
                outlined
                type="email"
                v-model="itemStudent.email"
                label="Correo*"
                lazy-rules
                :rules="[
                  (val) => !!val || 'El correo esta vacio',
                  (val) => isValidEmail(val) || 'El correo es invalido',
                ]"
              />
            </div>

            <div class="us-sm:col-12 us-md:col-6 pr-2 pl-2">
              <q-input
                class="w-100%"
                outlined
                type="tel"
                v-model="itemStudent.mobileNumber"
                label="Numero de celular*"
                lazy-rules
                :rules="[
                  (val) => !!val || 'El numero esta vacio',
                  (val) => isValidNumber(val) || 'El numero es invalido',
                ]"
              />
            </div>
          </div>

          <label class="pb-2 pr-2 pl-2">Credenciales</label>

          <div class="us-row">
            <div class="us-sm:col-12 us-md:col-6 pr-2 pl-2">
              <q-input
                class="w-100%"
                outlined
                type="password"
                v-model="itemStudent.password"
                label="Contraseña*"
                lazy-rules
                :rules="[
                  (val) => (val && val.length > 0) || 'Este campo es requerido',
                ]"
              />
            </div>

            <div class="us-sm:col-12 us-md:col-6 pr-2 pl-2">
              <q-input
                class="w-100%"
                outlined
                type="password"
                v-model="itemStudent.passwordConfirm"
                label="Confirme su contraseña*"
                lazy-rules
                :rules="[
                  (val) => (val && val.length > 0) || 'Este campo es requerido',
                ]"
              />
            </div>
          </div>
          <div class="us-row justify-end">
            <q-btn
              label="Crear"
              color="primary"
              @click="DBcreateCourse()"
            ></q-btn>
          </div>
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import apiAxios from "../../boot/axios.js";

export default {
  name: "MainLayout",
  components: {},
  data() {
    return {
      itemStudent: {
        firstName: "",
        lastName: "",
        email: "",
        mobileNumber: "",
        password: "",
        passwordConfirm: "",
      },
    };
  },
  methods: {
    DBcreateCourse() {
      let me = this;
      //validamos que los campos del formulario
      if (
        this.itemStudent.firstName.length <= 0 ||
        this.itemStudent.lastName.length <= 0 ||
        this.itemStudent.email.length <= 0 ||
        !this.isValidEmail(this.itemStudent.email) ||
        this.itemStudent.mobileNumber.length <= 0 ||
        !this.isValidNumber(this.itemStudent.mobileNumber) ||
        this.itemStudent.password.length <= 0 ||
        this.itemStudent.passwordConfirm.length <= 0
      ) {
        this.$q.notify({
          type: "negative",
          message: "Debe llenar todos los campos",
        });
        return;
      }

      //validamos si confirmo correctamente su contraseña
      if (this.itemStudent.password != this.itemStudent.passwordConfirm) {
        this.$q.notify({
          type: "negative",
          message: "Las contraseñas no son iguales",
        });
        return;
      }

      //creamos un formulario con los campor requeridos
      let form = new FormData();
      form.append("firstName", this.itemStudent.firstName);
      form.append("lastName", this.itemStudent.lastName);
      form.append("email", this.itemStudent.email);
      form.append("mobileNumber", this.itemStudent.mobileNumber);
      form.append("password", this.itemStudent.password);

      //enviamos los datos al servidor
      apiAxios
        .createStudent({
          form: form,
        })
        .then((response) => {
          this.$q.notify({
            type: "positive",
            message: "Estudiante creado exitosamente",
          });
          me.$router.go(-1);
        })
        .catch(function (err) {
          console.log(err);
        });
    },
    isValidEmail(val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      console.log(emailPattern.test(val));
      return emailPattern.test(val);
    },
    isValidNumber(val) {
      return val.length > 6 && val.length < 9;
    },
  },
};
</script>
