<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-primary">
      <q-toolbar>
        <q-btn flat dense round icon="menu" aria-label="Menu" />

        <q-toolbar-title> Lista de estudiantes </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <div class="us-row justify-center">
        <div class="us-sm:col-12 us-md:col-6 bg-white">
          <!-- buscador de estudiantes -->
          <div class="us-row p-2">
            <q-input
              class="w-100% mt-2"
              outlined
              v-model="searchStudent"
              label="Buscar..."
              @keydown.enter.prevent="DBlistStudent()"
            />
          </div>
          <!--  end buscador de estudiantes -->

          <!-- lista de estudiantes -->
          <div
            class="us-row p-2"
            v-for="(item, index) in arrayStudiantes"
            :key="index"
          >
            <div class="us-col w-100% item-student p-2">
              <div class="us-row us-align-center">
                <div
                  class="us-flex-1 us-col w-100%"
                  @click="
                    $router.push({
                      name: 'courses',
                      params: { studentId: item.id },
                    })
                  "
                >
                  <label class="w-100% text-weight-bolder color-dark-1">{{
                    item.firstName + " " + item.lastName
                  }}</label>
                  <div class="us-row">
                    <label class="us-flex-1 text-caption color-dark-2"
                      >Cel.: {{ item.mobileNumber }}</label
                    >
                    <label class="text-caption color-dark-2 pr-3">{{
                      literalDate(item.created_at)
                    }}</label>
                  </div>
                </div>

                <div class="h-8">
                  <q-btn-dropdown
                    split
                    class="glossy"
                    color="primary"
                    label="Opciones"
                  >
                    <q-list>
                      <q-item
                        clickable
                        v-close-popup
                        @click="DBdetailsStudent(item.id)"
                      >
                        <div class="us-row us-align-center">
                          <q-icon name="info" />
                          <label class="pl-3 us-flex-1">Detalle</label>
                        </div>
                      </q-item>

                      <q-item
                        clickable
                        v-close-popup
                        @click="
                          $router.push({
                            name: 'student-update',
                            params: { studentId: item.id },
                          })
                        "
                      >
                        <div class="us-row us-align-center">
                          <q-icon name="edit" />
                          <label class="pl-3 us-flex-1">Editar</label>
                        </div>
                      </q-item>

                      <q-item
                        clickable
                        v-close-popup
                        @click="
                          dialogStudentDelete = true;
                          itemStudent = item;
                        "
                      >
                        <div class="us-row us-align-center">
                          <q-icon name="delete_outline" />
                          <label class="pl-3 us-flex-1">Eliminar</label>
                        </div>
                      </q-item>
                    </q-list>
                  </q-btn-dropdown>
                </div>
              </div>
            </div>
          </div>
          <!-- end lista de estudiantes -->
        </div>

        <!-- dialogo detalle estudiante -->
        <q-dialog
          v-model="dialogStudentDetails"
          persistent
          transition-show="scale"
          transition-hide="scale"
        >
          <q-card class="bg-primary text-white" style="width: 300px">
            <q-card-section>
              <div class="text-h6">
                {{ itemStudent.firstName + " " + itemStudent.lastName }}
              </div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              <div class="us-col">
                <label>Correo: {{ itemStudent.email }}</label>
                <label>Cel.: {{ itemStudent.mobileNumber }}</label>
                <label>Contraseña: {{ itemStudent.password }}</label
                ><br />
                <label>Registrado el {{ itemStudent.created_at }}</label>
              </div>
            </q-card-section>

            <q-card-actions align="right" class="bg-white text-primary">
              <q-btn flat label="OK" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>

        <!-- boton flotante -->
        <q-page-sticky
          position="bottom-right"
          :offset="[18, 18]"
          @click="
            $router.push({
              name: 'student-create',
            })
          "
        >
          <q-btn fab icon="add" color="primary" />
        </q-page-sticky>

        <!-- dialogo de confirmacion -->
        <q-dialog v-model="dialogStudentDelete" persistent>
          <q-card>
            <q-card-section class="row items-center">
              <q-avatar
                icon="delete_outline"
                color="primary"
                text-color="white"
              />
              <span class="q-ml-sm"
                >¿Realmente desea eliminar al estudiante:
                <b class="color-dark">{{
                  itemStudent.firstName + " " + itemStudent.lastName
                }}</b
                >?</span
              >
            </q-card-section>

            <q-card-actions align="right">
              <q-btn flat label="Cancelar" color="primary" v-close-popup />
              <q-btn
                flat
                label="Continuar"
                color="primary"
                v-close-popup
                @click="DBdeleteStudent()"
              />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import apiAxios from "../../boot/axios.js";

export default {
  data() {
    return {
      arrayStudiantes: [],
      itemStudent: {},
      searchStudent: "",
      dialogStudentDetails: false,
      dialogStudentDelete: false,
    };
  },
  mounted() {
    this.DBlistStudent();
  },
  methods: {
    DBdeleteStudent() {
      apiAxios
        .deleteStudent({
          studentId: this.itemStudent.id,
        })
        .then((response) => {
          this.$q.notify({
            type: "positive",
            message: "Estudiante eliminado exitosamente",
          });
          this.DBlistStudent("");
        })
        .catch(function (err) {
          console.log(err);
        });
    },
    DBdetailsStudent(studentId) {
      let me = this;
      apiAxios
        .getStudentDetails({ studentId: studentId })
        .then((response) => {
          me.itemStudent = response.data.data;
          me.dialogStudentDetails = true;
        })
        .catch(function (err) {
          console.log(err);
        });
    },
    DBlistStudent() {
      let me = this;
      apiAxios
        .getStudent({ search: me.searchStudent })
        .then((response) => {
          me.arrayStudiantes = response.data.data;
        })
        .catch(function (err) {
          console.log(err);
        });
    },
    literalDate: function (fecha) {
      if (fecha != null || fecha != "") {
        //convertimos la fecha string en date
        var parts = fecha.split("-");
        var f = new Date(parts[0] + "-" + parseInt(parts[1]) + "-" + parts[2]);
        //consultamos la fecha actual del sistema
        var fechaActualSistema = new Date();
        // console.log(parts[0]+'-'+ parts[1]+'-'+ parts[2].split(' ')[0]+" = "+fechaActualSistema.getFullYear()+"-"+(fechaActualSistema.getMonth()+1)+"-"+fechaActualSistema.getDate());
        //comparamos que la fecha no se la misma de hoy
        if (
          parts[0] + "-" + parts[1] + "-" + parts[2].split(" ")[0] ==
          fechaActualSistema.getFullYear() +
            "-" +
            (fechaActualSistema.getMonth() + 1) +
            "-" +
            fechaActualSistema.getDate()
        ) {
          return "Hoy a las " + fecha.split(" ")[1];
        }

        var meses = new Array(
          "Ene.",
          "Feb.",
          "Mar.",
          "Abr.",
          "May.",
          "Jun.",
          "Jul.",
          "Ago.",
          "Sept.",
          "Oct.",
          "Nov.",
          "Dic."
        );
        var diasSemana = new Array(
          "Dom",
          "Lun",
          "Mar",
          "Mié",
          "Jue",
          "Vie",
          "Sáb"
        );
        return (
          diasSemana[f.getDay()] +
          ", " +
          f.getDate() +
          " de " +
          meses[f.getMonth()] +
          " de " +
          f.getFullYear()
        );
      } else {
        return "Sin fecha";
      }
    },
  },
};
</script>

<style lang="sass">
.item-student
  border-bottom: 1px solid #D8D8D8
  &:hover
    background: #00000010
</style>
