<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-primary">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="arrow_back"
          aria-label="Menu"
          @click="$router.go(-1)"
        />

        <q-toolbar-title>Edita estudiante </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <div class="us-row p-4 justify-center">
        <div class="us-sm:col-12 us-md:col-6 us-col">
          <div class="us-row">
            <div class="us-sm:col-12 us-md:col-6 pr-2 pl-2">
              <!-- formulario de registro -->
              <q-input
                class="w-100%"
                outlined
                v-model="itemStudent.firstName"
                label="Nombre(s)*"
                lazy-rules
                :rules="[
                  (val) => (val && val.length > 0) || 'Este campo es requerido',
                ]"
              />
            </div>

            <div class="us-sm:col-12 us-md:col-6 pr-2 pl-2">
              <q-input
                class="w-100%"
                outlined
                v-model="itemStudent.lastName"
                label="Apellido(s)*"
                lazy-rules
                :rules="[
                  (val) => (val && val.length > 0) || 'Este campo es requerido',
                ]"
              />
            </div>
          </div>

          <div class="us-row">
            <div class="us-sm:col-12 us-md:col-6 pr-2 pl-2">
              <q-input
                class="w-100%"
                outlined
                type="email"
                v-model="itemStudent.email"
                label="Correo*"
                lazy-rules
                :rules="[
                  (val) => !!val || 'El correo esta vacio',
                  (val) => isValidEmail(val) || 'El correo es invalido',
                ]"
              />
            </div>

            <div class="us-sm:col-12 us-md:col-6 pr-2 pl-2">
              <q-input
                class="w-100%"
                outlined
                type="tel"
                v-model="itemStudent.mobileNumber"
                label="Numero de celular*"
                lazy-rules
                :rules="[
                  (val) => !!val || 'El numero esta vacio',
                  (val) => isValidNumber(val) || 'El numero es invalido',
                ]"
              />
            </div>
          </div>

          <label class="pb-2 pr-2 pl-2">Credenciales</label>

          <div class="us-row">
            <div class="us-sm:col-12 us-md:col-6 pr-2 pl-2">
              <q-input
                class="w-100%"
                outlined
                v-model="itemStudent.password"
                label="Contraseña*"
                lazy-rules
                :rules="[
                  (val) => (val && val.length > 0) || 'Este campo es requerido',
                ]"
              />
            </div>

            <div class="us-sm:col-12 us-md:col-6 pr-2 pl-2">
              <q-input
                class="w-100%"
                outlined
                v-model="itemStudent.passwordConfirm"
                label="Confirme su contraseña*"
                lazy-rules
                :rules="[
                  (val) => (val && val.length > 0) || 'Este campo es requerido',
                ]"
              />
            </div>
          </div>
          <div class="us-row justify-end">
            <q-btn
              label="Guardar"
              color="primary"
              @click="DBupdateStudent()"
            ></q-btn>
          </div>

          <!-- end formulario de registro -->
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import apiAxios from "../../boot/axios.js";

export default {
  name: "MainLayout",
  components: {},
  data() {
    return {
      itemStudent: {
        firstName: "",
        lastName: "",
        email: "",
        mobileNumber: "",
        password: "",
        passwordConfirm: "",
      },
    };
  },
  mounted() {
    //recuperamos los datos del estudiante
    this.DBdetailsStudent(this.$route.params.studentId);
  },
  methods: {
    DBdetailsStudent(studentId) {
      let me = this;
      apiAxios
        .getStudentDetails({ studentId: studentId })
        .then((response) => {
          //guardamos los detalles en el array del formulario
          me.itemStudent = {
            id: response.data.data.id,
            firstName: response.data.data.firstName,
            lastName: response.data.data.lastName,
            email: response.data.data.email,
            mobileNumber: response.data.data.mobileNumber,
            password: response.data.data.password,
            passwordConfirm: response.data.data.password,
          };
        })
        .catch(function (err) {
          console.log(err);
        });
    },
    DBupdateStudent() {
      let me = this;
      //verificamos que todos los campos esten llenados
      if (
        this.itemStudent.firstName.length <= 0 ||
        this.itemStudent.lastName.length <= 0 ||
        this.itemStudent.email.length <= 0 ||
        !this.isValidEmail(this.itemStudent.email) ||
        this.itemStudent.mobileNumber.length <= 0 ||
        !this.isValidNumber(this.itemStudent.mobileNumber) ||
        this.itemStudent.password.length <= 0 ||
        this.itemStudent.passwordConfirm.length <= 0
      ) {
        this.$q.notify({
          type: "negative",
          message: "Debe llenar todos los campos",
        });
        return;
      }

      //verificamos que las contraseñas sean iguales
      if (this.itemStudent.password != this.itemStudent.passwordConfirm) {
        this.$q.notify({
          type: "negative",
          message: "Las contraseñas no son iguales",
        });
        return;
      }

      //si todo va bien, enviamos la peticion al servidor para actualizar
      apiAxios
        .updateStudent({
          body_raw: me.itemStudent,
          studentId: me.itemStudent.id,
        })
        .then((response) => {
          this.$q.notify({
            type: "positive",
            message: "Estudiante editado exitosamente",
          });
          me.$router.go(-1);
        })
        .catch(function (err) {
          console.log(err);
        });
    },
    //valida correos
    isValidEmail(val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      console.log(emailPattern.test(val));
      return emailPattern.test(val);
    },
    //valida numeros
    isValidNumber(val) {
      return val.length > 6 && val.length < 9;
    },
  },
};
</script>
